CONFIG_UNSUPPORTED=y
CONFIG_EARLY_UART_CHOICE_SCIF=y
CONFIG_EARLY_UART_SCIF=y
CONFIG_EARLY_PRINTK=y
CONFIG_EARLY_UART_BASE_ADDRESS=0xe6540000
CONFIG_EARLY_UART_SCIF_VERSION_NONE=y
CONFIG_IPMMU_VMSA=y

CONFIG_ARM_SCI=y
CONFIG_SCMI_SMC_MA=y
CONFIG_HOST_DTB_EXPORT=y
CONFIG_HOST_DTB_MAX_SIZE=131072
